/* Custom color for the first segment */
.custom-donut-chart:nth-child(1) {
  fill: #c80e0e; /* Set the desired color */
}

/* Custom color for the second segment */
.custom-donut-chart:nth-child(2) {
  fill: #1658d1; /* Set the desired color */
}

.model {
  display: none;
}

.model.open {
  display: block;
  transition: 3s;
  
  /* Add other styling to make the model visible and centered on the screen */
}

/* .model-content {
  /* Style the content within the model */
/* } * */
